/*==========================================================================
   MEDIA QUERIES // example @include respond-to(mobile) { }
 ========================================================================== */
/*
  @include respond-to(mobile) {}
  @include respond-to(tablet) {}
  @include respond-to(desktopSm) {}
  @include respond-to(desktopLg) {}
*/
/*==========================================================================
   FUNCTIONS
 ========================================================================== */
/*==========================================================================
   MIXINS
 ========================================================================== */
/*==========================================================================
   SPRITES
 ========================================================================== */
/* reset
----------------------------------------------*/
/* line 15, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 22, ../scss/base/_reset.scss */
html {
  line-height: 1;
  height: 100%;
}

/* line 27, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 36, ../scss/base/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 42, ../scss/base/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 46, ../scss/base/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 51, ../scss/base/_reset.scss */
a img {
  border: none;
}

/* line 55, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/base/_sprites.scss */
.trestique-mark {
  background-image: url('../img/icons-sfdc0cba359.png');
  background-position: 0 -75px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 91px;
  width: 91px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-resolution: 192 dpi) {
  /* line 1, ../scss/base/_sprites.scss */
  .trestique-mark {
    background-image: url('../img/icons2x-s8caeeff353.png');
    background-size: 300px 166px;
    background-position: 0 -75px;
  }
}

/* line 2, ../scss/base/_sprites.scss */
.trestique-type {
  background-image: url('../img/icons-sfdc0cba359.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 75px;
  width: 300px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-resolution: 192 dpi) {
  /* line 2, ../scss/base/_sprites.scss */
  .trestique-type {
    background-image: url('../img/icons2x-s8caeeff353.png');
    background-size: 300px 166px;
    background-position: 0 0;
  }
}

/* Base
----------------------------------------------*/
/* line 3, ../scss/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* line 4, ../scss/base/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/base/_base.scss */
html {
  height: 100%;
}

/* line 9, ../scss/base/_base.scss */
body {
  color: #111;
  background-color: #fff;
  font-family: Times,Georgia,serif;
  font-size: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../scss/base/_base.scss */
html.locked, body.locked {
  overflow: hidden;
}

/* line 12, ../scss/base/_base.scss */
.ws-credit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* line 14, ../scss/base/_base.scss */
p, li, dd {
  line-height: 1.5em;
}

/* line 24, ../scss/base/_base.scss */
::-moz-selection {
  background-color: #ddd;
}

/* line 24, ../scss/base/_base.scss */
::selection {
  background-color: #ddd;
}

/* Headings
----------------------------------------------*/
/* line 29, ../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Times, Georgia, serif;
  color: #111;
  margin-bottom: 10px;
}
/* line 33, ../scss/base/_base.scss */
h1.sm-group-heading, h2.sm-group-heading, h3.sm-group-heading, h4.sm-group-heading, h5.sm-group-heading, h6.sm-group-heading {
  text-align: center;
}

/* line 36, ../scss/base/_base.scss */
h1 {
  font-size: 50px;
  line-height: 60px;
}

/* line 37, ../scss/base/_base.scss */
h2 {
  font-size: 40px;
  line-height: 50px;
}

/* line 38, ../scss/base/_base.scss */
h3 {
  font-size: 30px;
  line-height: 40px;
}

/* line 39, ../scss/base/_base.scss */
h4 {
  font-size: 25px;
  line-height: 35px;
}

/* line 40, ../scss/base/_base.scss */
h5 {
  font-size: 20px;
  line-height: 30px;
}

/* line 44, ../scss/base/_base.scss */
h6 {
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

/* line 49, ../scss/base/_base.scss */
p {
  font-size: 20px;
  line-height: 30px;
  color: #111;
}

/* links
----------------------------------------------*/
/* line 57, ../scss/base/_base.scss */
a, a:link, a:visited {
  text-decoration: none;
  color: #111;
}

/* line 58, ../scss/base/_base.scss */
a:hover, a:active {
  text-decoration: none;
  color: #333;
}

/* Blockquote
----------------------------------------------*/
/* line 62, ../scss/base/_base.scss */
blockquote {
  font-size: 2.1875em;
  line-height: 45px;
  text-align: center;
  color: #333;
}

/* Media 
----------------------------------------------*/
/* line 66, ../scss/base/_base.scss */
img, video {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* line 67, ../scss/base/_base.scss */
figcaption {
  font-size: 85%;
}

/* Lists
----------------------------------------------*/
/* line 71, ../scss/base/_base.scss */
ol {
  list-style: decimal inside;
}
/* line 73, ../scss/base/_base.scss */
ol li ol {
  list-style: lower-alpha inside;
  margin-left: 1em;
}
/* line 75, ../scss/base/_base.scss */
ol li ol li {
  margin-bottom: 0;
}

/* line 80, ../scss/base/_base.scss */
ul.disc {
  list-style: disc inside;
}
/* line 82, ../scss/base/_base.scss */
ul.disc li ul {
  list-style: disc inside;
  margin-left: 1em;
}
/* line 83, ../scss/base/_base.scss */
ul.disc li ul li {
  margin-bottom: 0;
}

/* Tables
----------------------------------------------*/
/* Videos
----------------------------------------------*/
/* line 93, ../scss/base/_base.scss */
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}
/* line 94, ../scss/base/_base.scss */
.video_wrapper video, .video_wrapper embed, .video_wrapper iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Buttons
----------------------------------------------*/
/* line 99, ../scss/base/_base.scss */
.simple-btn {
  display: inline-block;
  margin: 15px auto;
  color: #666;
  border: solid 1px #888;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
}
/* line 100, ../scss/base/_base.scss */
.simple-btn:link, .simple-btn:visited {
  color: #666;
}
/* line 101, ../scss/base/_base.scss */
.simple-btn:hover {
  color: #333;
  border: solid 1px #333;
}

/* Form
----------------------------------------------*/
/* line 106, ../scss/base/_base.scss */
form {
  text-align: center;
}
/* line 109, ../scss/base/_base.scss */
form label {
  font-size: 18px;
  line-height: 28px;
}

/* line 114, ../scss/base/_base.scss */
input {
  margin: 10px auto;
}

/* Iframe
----------------------------------------------*/
/* line 120, ../scss/base/_base.scss */
iframe {
  width: 100%;
  height: auto;
}
